* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  color: #505050;
  font-size: 14px;
  line-height: 1.714285714285714em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #212121;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
