.sport {
  max-width: 1300px;
  padding-bottom: 130px;
  margin: 0 auto;
  text-align: center;

  &-short {
    font-family: "Satisfy", cursive;
    color: $primary;
    font-size: 33px;
  }

  &-heading {
    font-size: 65px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: $black;
    margin-top: -20px;
    padding-bottom: 50px;
  }

  &-desc {
    padding-top: 18px;
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  iframe {
    box-shadow: 0 0 20px rgb(214, 212, 212);
  }

  &-viewmore {
    color: #fff;
    background: $primary;
    padding: 18px 66px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;

    &:hover {
      background: #23a9af;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) {
  .sport {
    max-width: 768px;
    iframe {
      width: 100%;
    }

    &-desc {
      font-size: 14px !important;
    }

    &-viewmore {
      padding: 15px 50px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .sport {
    max-width: 80vw;
    iframe {
      width: 100%;
      height: 300px;
    }
    &-heading {
      font-size: 58px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sport {
    max-width: 80vw;
    iframe {
      width: 100%;
      height: auto;
    }
    &-heading {
      font-size: 35px;
      padding-bottom: 30px;
    }
  }
}
